header.header 
    .header__column
        a(href=routes.home)
            i.fas.fa-utensils 
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search", name="term")
    .header__column
        ul 
            if !loggedUser
                li 
                    a(href=routes.signup) Sign Up
                li 
                    a(href=routes.signin) Sign In              
            else 
                li
                    a(href=routes.recipe+routes.upload) Upload 
                li 
                    a(href=routes.userDetail(loggedUser.id)) Profile
                li 
                    a(href=routes.signout) Sign Out